:root {
  /* --ref-primary-50: #f8db21;
  --ref-primary-40: #f9e352;
  --ref-primary-30: #fbeb83;
  --ref-primary-20: #fdf3b5;
  --ref-primary-10: #fefae0;

  --ref-secondary-50: #b9c653;
  --ref-secondary-40: #c8d279;
  --ref-secondary-30: #d8df9f;
  --ref-secondary-20: #e8ecc6;
  --ref-secondary-10: #f7f9ec;

  --ref-third-50: #eab42e;
  --ref-third-40: #efc55d;
  --ref-third-30: #f3d58b;
  --ref-third-20: #f8e6b9;
  --ref-third-10: #fdf7e8; */
  --ref-primary-50: #d4a373;
  --ref-primary-40: #faedcd;
  --ref-primary-30: #fefae0;
  --ref-primary-20: #e9edc9;
  --ref-primary-10: #ccd5ae;
}
